.basket-wrap { max-width:1440px; min-width:1200px; margin:0 auto; padding:250px 0; }
.basket-wrap > .title { font-size:32px; font-weight:bold; color:#000; }
.basket-tab-wrap { margin-top:100px; margin-bottom:34px; }
.basket-tab-wrap a { display:inline-block; font-size:20px; color:#9d9d9d; margin-right:40px; }
.basket-tab-wrap a.active { color:#000; }

.basket-wrap .left-wrap { display:inline-block; width:calc(80% - 34px); padding-right:34px; vertical-align:top; }
.basket-wrap .right-wrap { display:inline-block; width:20%; vertical-align:top; }

.table-cart { border-top:1px solid #000; border-bottom:1px solid #000; }
.table-cart th { font-size:15px; color:#000; padding:25px 0; border-bottom:1px solid #9d9d9d; }
.table-cart td { font-size:14px; color:#000; padding:20px 0; }
.table-cart tbody tr:not(:last-child) td { border-bottom:1px solid #e2e2e2; }
.table-cart .tb-info .thumb { display:inline-block; width:25%; margin-right:14px; vertical-align:top; }
.table-cart .tb-info .info { display:inline-block; width:60%; }
.table-cart .tb-info .info .brand { font-size:10px; color:#999; font-weight:600; }
.table-cart .tb-info .info .name { font-size:14px; color:#000; padding:10px 0; line-height:1.3; }
.table-cart .tb-info .info .option { font-size:12px; color:#9d9d9d; padding-bottom:15px; line-height:1.3; }
.table-cart .tb-info .info .modify a { display:inline-block; color:#000; padding-bottom:3px; border-bottom:1px solid #999; }
.table-cart .opt-spin { display:flex; display:-webkit-flex; }
.table-cart .opt-spin > * { width:35%; border:1px solid #e1e1e1; margin-left:-1px; text-align:center; }
.table-cart .btn-opt-modi { display:block; background:#848484; width:100%; padding:7px 0; color:#fff; text-align:center; margin-top:5px; }
.table-cart .tb-price .price01 { display:block; color:#999; font-size:12px; text-decoration:line-through; }
.table-cart .tb-price .price02 { display:block; color:#000; font-size:14px; }
.table-cart .btn-normal { display:block; padding:10px 0; color:#868686; font-size:14px; border:1px solid #e1e1e1; text-align:center; margin:4px 0; }

.right-wrap > .title { background:#fbfbfb; text-align:center; color:#000; font-size:20px; font-weight:bold; padding:22px 0; border-bottom:1px solid #9d9d9d; border-top:1px solid #000; }
.right-wrap .price-total-wrap { background:#fbfbfb; padding:30px 16px; }
.right-wrap .price-total-wrap .txt { padding:0 20px; }
.right-wrap .price-total-wrap .txt p { display:flex; display:-webkit-flex; justify-content:space-between; padding:10px 0; }
.right-wrap .price-total-wrap .txt .title { display:inline-block; font-size:16px; color:#000; }
.right-wrap .price-total-wrap .txt .price { display:inline-block; font-size:18px; color:#000; }
.right-wrap .price-total-wrap .txt .total { padding:20px 0; margin-top:16px; border-top:1px solid #ededed; }
.right-wrap .price-total-wrap .txt .total .title { font-size:18px; }
.right-wrap .price-total-wrap .txt .total .price { font-size:20px; font-weight:600; color:#ff7600; }
.right-wrap .btn-order-ctrl .btn-order { background:#ff7600; display:block; font-size:20px; font-weight:600; color:#fff; text-align:center; padding:25px 0; }
.right-wrap .btn-order-ctrl .btn-delete { background:#fff; display:block; font-size:20px; font-weight:600; color:#848484; text-align:center; padding:25px 0; border:1px solid #cdcdcd; }

.cart-ft2 { text-align:center; margin-top:30px; }

.MS_tb_delivery .MS_layer_delivery { top:45px; right:auto; left:-60px; border:1px solid #cdcdcd; border-radius:15px; }
.MS_tb_delivery .MS_layer_delivery dl { border:0;  width:200px; padding:20px; }
.MS_tb_delivery .MS_layer_delivery .bull {
    background:#fff;
    left: 50%;
    top: 0px;
    border-right:8px solid transparent;
    border:8px solid transparent;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) rotate(45deg); 
}











#cartWrap .wish-opt { color: #FFA500; }
#cartWrap .tit-cart { margin-top: 30px; }
/* 배송 메세지 */
#cartWrap .delivery { margin-top: 20px; text-align: center; }
/* 주문 컨트롤 버튼 */
#cartWrap .btn-order-ctrl { margin-top: 20px; text-align: center; font-size: 0; line-height: 0; }
#cartWrap .btn-order-ctrl a { margin-right: 10px; }
/*합계*/
#cartWrap .basket-totalprice { padding:10px 0; text-align:right; color:#333; font-weight:bold; border-bottom:2px solid #b7b7b7; }
#cartWrap .basket-totalprice .totalprice-txt strong { color:#be101a; }

/*본사,업체배송아이콘*/
#cartWrap .prov-icons {float: left; display:inline;}

.cart-ft2 { margin-top: 20px; text-align: center; }
#nhn_btn { display: inline; }
#payco_order_btn { display: inline; }
#kakaopay_order_btn { display:inline; vertical-align:top; }

.tb-opt img { vertical-align:top; }
.tb-opt .basket-option-detail { display:inline-block; vertical-align:top; padding-left:8px; }
.tb-opt .basket-option-detail .basket-option-dlist li { margin-bottom:7px; word-break:break-all; word-wrap:break-word; }
.tb-opt .basket-option-detail .basket-option-dlist li img { width:23px; height:23px; vertical-align:middle; }
.tb-opt .basket-option

/* 정기배송 탭 */
#cartWrap .cart-tab:after { clear: both; content: ""; display: block; }
#cartWrap .cart-tab { height:59px; margin:30px 0 60px; border-bottom:2px solid #000; }
#cartWrap .cart-tab li { float:left; width:50%; height:57px; margin-left:-8px; *margin-left:-9px; border:2px solid #d5d5d5; border-bottom:none; background:#f9f9f9; }
#cartWrap .cart-tab li:first-child { margin-left:0; }
#cartWrap .cart-tab li a { display:block; line-height:60px; font-weight:bold; color:#898989; font-size:16px; text-align:center; text-decoration:none; background:none; }
#cartWrap .cart-tab li.now { position:relative; z-index:1; height:59px; border:2px solid #000; border-bottom:none; background:#fff; }
#cartWrap .cart-tab li.now a { line-height:59px; color:#000; }

.table-cart tbody td { padding:10px 0; }

.tb-subs { position:relative; }
.tb-subs .tb-subs-txt { padding-bottom:5px; }
.tb-subs .tb-subs-txt .bar { display:inline-block; padding:0 3px; color:#dedddd; }

.subs-txt { margin-top:20px; color:#cd101a; text-align:center; }
.subs-txt img { margin:-2px 3px 0 0; }


/* 카트프리 */
.cart-free-wrap { text-align:center; margin-bottom: 10px; }
.cart-free-wrap .btn-list-open { position:relative; display:inline-block; width:60%; height:50px; line-height:50px; background:#444; color:#fff; font-weight:bold; font-size:14px; text-align:center; }
.cart-free-wrap .btn-list-open span { position:absolute; top:20px; right:30px; display:inline-block; width:15px; height:9px; background:url(http://separk.makemall.kr/2016/h18_arr.gif) no-repeat 0 0; }
.cart-free-wrap .btn-list-open span.open { background:url(http://separk.makemall.kr/2016/h18_arr.gif) no-repeat 0 -9px; }
.cart-free-wrap p { padding:20px 0; font-size:14px; font-weight:bold; }
.cart-free-wrap p span { color:#f40000; }
.cart-free-wrap .btn-more { display:inline-block; width:94%; height:30px; line-height:30px; margin-top:10px; border:1px solid #383838; background:#fff; color:#383838; font-size: 1em; text-align:center; }
.cart-free-wrap .btn-more span { display:inline-block; width:8px; height:5px; margin-left:5px; background:url(/images/d3/m_04/h10_arr.gif) no-repeat 0 0; background-size:100% 100%; vertical-align:middle; }
.cart-free-wrap .list-wrap { overflow-x:hidden; overflow-y:auto; height:450px; padding:15px 14px 30px; margin-top:20px; border:1px solid #b7b7b7; display: none; }
.cart-free-wrap .list-wrap ul { display: table; table-layout: fixed; width:100%; margin: 0; padding: 0; }
.cart-free-wrap .list-wrap ul:after { clear: both; content: ""; display: block; }
.cart-free-wrap .list-wrap ul li { word-wrap: break-word; word-break: keep-all; display: inline-block; vertical-align: top; width:24%; list-style: none; }
.cart-free-wrap .list-wrap ul li dl { margin:15px 15px 10px; }
.cart-free-wrap .list-wrap ul li dl dt { margin-bottom:13px; }
.cart-free-wrap .list-wrap ul li dl dt img { width:100%; height:auto; border:0; }
.cart-free-wrap .list-wrap ul li dl dd {}
.cart-free-wrap .list-wrap ul li dl dd strong { color:#f40000; }
.cart-free-wrap .list-wrap ul li dl dd a { display:inline-block; padding:5px 8px 3px; margin-top:8px; border:1px solid #999; color:#666; font-weight:bold; background:#fff; }


.ppr { font-size:16px; }


.table-cart { margin-bottom:0; border-bottom:0; }
