#containerWrap .container { background:#f9f9f9; }

/* 리스트 */
#SmartCoupon { position:relative; }
#SmartCoupon .coupon-codebox { background:#fff; padding:58px 70px; border-radius:15px; color:#000; }
#SmartCoupon .coupon-codebox form { display:-webkit-flex; display:flex; }
#SmartCoupon .coupon-codebox .input-text { width:calc(100% - 320px); height:86px; line-height:86px; padding:0 54px; border:1px solid #e4e4e4; border-radius:15px; font-size:26px; color:#c8c8c8; text-align:left !important; margin-right:15px; }
#SmartCoupon .coupon-codebox a { display:inline-block; width:317px; height:86px; line-height:86px; padding:0 10px; color:#fff; background:#ff7600; font-size:26px; border-radius:15px; text-align:center; }

.mycouponWrap { background:#fff; padding:78px 52px; border-radius:15px; color:#000; }
.mycouponWrap .sub-tit { font-size:30px; font-weight:bold; color:#000; padding-bottom:60px; }

/* 탭 */
#SmartCoupon .my-tab:after { clear: both; content: ""; display: block; }
#SmartCoupon .my-tab { height:58px; margin:0 0 30px 0; border-bottom:2px solid #000; }
#SmartCoupon .my-tab li { float:left; width:50%; height:57px; margin-left:-6px; *margin-left:-7px; border:1px solid #d5d5d5; border-bottom:none; background:#f9f9f9; }
#SmartCoupon .my-tab li:first-child { margin-left:0; }
#SmartCoupon .my-tab li a { display:block; line-height:60px; font-weight:bold; color:#898989; font-size:16px; text-align:center; text-decoration:none; background:none; }
#SmartCoupon .my-tab li.now { position:relative; z-index:1; height:58px; border:2px solid #000; border-bottom:none; background:#fff; }
#SmartCoupon .my-tab li.now a { line-height:58px; color:#000; }

