.cate-list-wrap { display:none; }


.faq-wrap .question { display:-webkit-flex; display:flex; padding:15px; border-bottom:1px solid #d9d9d9; background:#fff; }

.faq-wrap .answer { display:none; padding:15px; border-bottom:1px solid #d9d9d9; background:#fff; }
.faq-wrap .answer.active { display:-webkit-flex; display:flex; }






