.layer_smartmypage_sys { z-index: 1001; position: absolute; top: 40px; left: 10px; right: 10px; background: #fff; }
.layer_smartmypage_sys .fc_red { color: #eb2539; }
.layer_smartmypage_sys .fc_blue { color: #2e84f0; }
.layer_smartmypage_sys select { width: 100%; height: 35px; line-height: 35px; padding: 0; background: #fbfbfb; border: 1px solid #c6c6c6; box-sizing: border-box; border-radius: 0; }
.layer_smartmypage_sys input[type=text] { width: 100%; height: 35px; line-height: 35px; padding: 0 5px; background: #fbfbfb; border: 1px solid #c6c6c6; box-sizing: border-box; border-radius: 0; }
.layer_smartmypage_sys .btn_accept { display: inline-block; height: 36px; line-height: 36px; padding: 0 30px; background: #393939; color: #fff; font-weight: bold; letter-spacing: -1px; text-align: center; }
.layer_smartmypage_sys .btn_cancel { display: inline-block; height: 36px; line-height: 36px; padding: 0 30px; background: #ccc; color: #3b3b3b; font-weight: bold; letter-spacing: -1px; text-align: center; }
.layer_smartmypage_sys .lhd { position: relative; height: 36px; line-height: 36px; padding: 0 10px; background: #efefef; }
.layer_smartmypage_sys .lhd h2 { margin: 0; padding: 0; font-size: 1em; }
.layer_smartmypage_sys .lhd > a { position: absolute; top: 0; right: 0; width: 36px; height: 36px; background: #4f4f4f url(/images/d3/m_01/btn/h18_close@2x.png) no-repeat 50% 50%; text-indent: -9999px; }
.layer_smartmypage_sys .lcont { padding: 0 10px 20px; }
.layer_smartmypage_sys .lcont .smart_m_b_5 { margin-bottom: 5px; }
.layer_smartmypage_sys h3 { margin-top: 20px; padding-left: 12px; color: #4c4c4c; font-size: 1.125em; font-weight: bold; letter-spacing: -1px; background: url(/images/d3/m_01/bull/bull_community_list@2x.gif) no-repeat 0 50%; background-size: 8px auto; }
.layer_smartmypage_sys .tbl { margin-top: 5px; }
.layer_smartmypage_sys .tbl table { width: 100%; table-layout: fixed; word-break: break-all; }
.layer_smartmypage_sys .tbl th, 
.layer_smartmypage_sys .tbl td { padding: 12px 10px; border: 1px solid #d5d5d5; font-size: .938em; }
.layer_smartmypage_sys .tbl th { background: #f1f1f1; text-align: left; white-space: nowrap; }
.layer_smartmypage_sys .tbl .number { color: #f1191f; font-size: 1.125em; }
.layer_smartmypage_sys .tbl .item_info { position: relative; padding-left: 95px; }
.layer_smartmypage_sys .tbl .item_info .thumb { position: absolute; top: 0; left: 0; }
.layer_smartmypage_sys .tbl .item_info .thumb img { width: 85px; height: 85px; }
.layer_smartmypage_sys .tbl .item_info ul { min-height: 85px; }
.layer_smartmypage_sys .tbl .item_info li { list-style: none; }
.layer_smartmypage_sys .tbl .item_info li.tit { font-size: 1.125em; font-weight: bold; letter-spacing: -1px; word-break: break-all; }
.layer_smartmypage_sys .tbl .amount { position: relative; padding-right: 80px; }
.layer_smartmypage_sys .tbl .amount input[type=text] { text-align: center; }
.layer_smartmypage_sys .tbl .amount .btn_plus, 
.layer_smartmypage_sys .tbl .amount .btn_minus { position: absolute; top: 0; right: 0; width: 35px; height: 35px; line-height: 35px; background: #858585; color: #fff; font-size: 2em; text-align: center; }
.layer_smartmypage_sys .tbl .amount .btn_plus { right: 40px; }
.layer_smartmypage_sys .tbl .search { overflow: hidden; }
.layer_smartmypage_sys .tbl .search select, 
.layer_smartmypage_sys .tbl .search input[type=text] { float: left; width: 49%; }
.layer_smartmypage_sys .tbl .search input[type=text] { float: right; }
.layer_smartmypage_sys .tbl .search .btn_search { display: inline-block; margin-top: 5px; width: 100%; height: 35px; line-height: 35px; background: #858585; color: #fff; font-size: 1.125em; text-align: center; }
.layer_smartmypage_sys .tbl .opt { overflow: hidden; }
.layer_smartmypage_sys .tbl .opt span { float: left; width: 25%; line-height: 35px; }
.layer_smartmypage_sys .tbl .opt select { width: 75%; }
.layer_smartmypage_sys .tbl .opt .tb-opt select { float: none; }
.layer_smartmypage_sys .tbl .opt ul.select-list li { margin-bottom: 5px; }
.layer_smartmypage_sys .tbl .opt ul.select-list li span { float: none; width: auto; }
.layer_smartmypage_sys .tbl .txt_area { margin-top: 0; }
.layer_smartmypage_sys .tbl .txt_right { text-align: right; }
.layer_smartmypage_sys .tbl .cannot-selected,
.layer_smartmypage_sys .tbl .cannot-selected-l { border: 0; height: 15px; text-align: right; width: 85%; line-height: 120%; background-color: #fff; }
.layer_smartmypage_sys .tbl .sys_normal { white-space: normal; }
.layer_smartmypage_sys .tbl .MS_diy_option_width, 
.layer_smartmypage_sys .tbl .MS_diy_option_height { width: 70%; }
.layer_smartmypage_sys .lst { margin-top: 5px; }
.layer_smartmypage_sys .lst li { list-style: none; padding-left: 8px; background: url(/images/d3/m_01/bull/keywords_li@2x.gif) no-repeat 0 7px; letter-spacing: -1px; }
.layer_smartmypage_sys .txt_area { margin-top: 5px; padding: 10px; border: 1px solid #d5d5d5; background: #fbfbfb; }
.layer_smartmypage_sys .txt_area textarea { width: 100%; height: 100px; padding: 0; border: 0; background: #fbfbfb; }
.layer_smartmypage_sys .btns { overflow: hidden; margin-top: 20px; }
.layer_smartmypage_sys .btns .btn_accept { float: left; width: 68%; padding: 0; } 
.layer_smartmypage_sys .btns .btn_cancel { float: right; width: 30%; padding: 0; } 



body { background:#fafafa; }
#headerWrap .header { border-bottom:1px solid #f0f0f0; }


#order_info .title-wrap { display:-webkit-flex; display:flex; justify-content:space-between; align-items:center; padding:20px; background:#fff; border-bottom:1px solid #f0f0f0; margin-top:10px; margin-bottom:10px; }
#order_info .title-wrap .title { font-size:18px; color:#000; font-weight:bold; }
#order_info .title-wrap .btn-back { display:inline-block; font-size:13px; color:#ff7600; text-decoration:underline; }


#order_info .detail .tbl { position:relative; background:#fff; padding:30px 20px; border-bottom:1px solid #f0f0f0; margin-bottom:10px; }
#order_info .detail .tbl .title { font-size:18px; color:#000; font-weight:bold; padding-bottom:20px; }
#order_info .detail .tbl table { width:100%; table-layout:fixed; word-wrap:break-word; word-break:keep-all; }
#order_info .detail .tbl th, 
#order_info .detail .tbl td { padding-bottom:12px; color:#979797; font-weight:normal; text-align:left; vertical-align:top; line-height:1.3; }

.order-prd-detail .number { background:#f4f4f4; padding:20px 24px; border-radius:15px; }
.order-prd-detail .number p { padding:5px 0; color:#979797; }
.order-prd-detail .number p.color { color:#ff7600; }
.order-prd-detail .number .tit { display:inline-block; width:30%; }
.order-prd-detail .number .num { display:inline-block; width:68%; }

.order-prd-detail .item-info { position:relative; padding:30px 0; }
.order-prd-detail .item-info .thumb { display:inline-block; width:20%; border-radius:15px; overflow:hidden; vertical-align:top; }
.order-prd-detail .item-info ul { display:inline-block; width:60%; padding-left:20px; }
.order-prd-detail .item-info .name { font-size:15px; font-weight:bold; color:#000; margin-bottom:10px; }
.order-prd-detail .item-info .option { font-size:14px; color:#000; opacity:.5; line-height:1.5; margin-bottom:15px; 
    white-space:normal; display:-webkit-box; line-clamp:2; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; font-weight:normal;
}
.order-prd-detail .item-info .price select { border:none; -webkit-appearance:none; -moz-appearance:none; appearance:none; font-size:15px; font-weight:bold; padding:0; }
.order-prd-detail .item-info { font-size:15px; color:#1d1d1d; font-weight:bold; }
.order-prd-detail .item-info .status { position:absolute; right:0; top:30px; color:#ff7600; font-weight:bold; font-size:15px; }
.order-prd-detail .item-info .btn { position:absolute; right:0; bottom:30px; }


.btn-list { display:block; text-align:center; padding:15px 0; border:1px solid #ff7600; color:#ff7600; font-size:16px; border-radius:15px; font-weight:bold; margin-top:20px; }
.color-000 { color:#000 !important; }
.color-ff7600 { color:#ff7600 !important; }
.bold { font-weight:bold !important; }


/* 하이브리드 옵션 이미지 */
#order_info .basket-option-detail .basket-option-dlist dd img { width:30px; height:30px; vertical-align:middle; }