#order { max-width:1487px; margin:0 auto; padding:45px 0 100px; }
#order .page-body form { display:-webkit-flex; display:flex; }
#order .page-body fieldset { width:calc(100% - 366px); margin-right:34px; }
#order .title { font-size:32px; font-weight:bold; color:#000; padding-bottom:100px; }
#order h3 { position:relative; color:#000; font-size:20px; font-weight:bold; letter-spacing:-2px; }
#order h3 label,
#order .interest { position:absolute; bottom:0; right:0; font-size:15px; font-weight:normal; letter-spacing:0; }
#order .MS_input_txt { background:#f2f2f2; color:#000; height:44px; line-height:44px; padding:0 23px; font-size:15px; border:none; }

#order select { background:#f2f2f2; height:44px; line-height:44px; padding:0 23px; border:none; font-size:15px; color:#000; }
#order .reserve-select select { width:180px; }
#order .MS_tel { width:120px; }
#order .MS_email { width:160px; }
#order input[type=text], 
#order input[type=password] { background:#f2f2f2; color:#000; height:44px; line-height:44px; padding:0 23px; font-size:15px; border:none; }
#order input[name=user_email] { width:150px; }

#order .w60 { width:48px !important; }
#order select.w60 { width:60px !important; }
#order .w100 { width:100px !important; }
#order .w120 { width:120px !important; }
#order .w240 { width:240px !important; }
#order .w280 { width:280px !important; }
#order .w300 { width:300px !important; }
#order .w390 { width:390px !important; }
#order #post1,
#order #post2 { background:#fbfbfb; border:1px solid #f2f2f2; }
#order #address1 { width:430px !important; background:#fbfbfb; border:1px solid #f2f2f2; }

#order .txt-l { text-align:left; }
#order .txt-c { text-align:center; }
#order .label { display:inline-block; margin:5px 0; }
#order .btn-gray { display:inline-block; height:21px; line-height:23px; padding:15px 30px; color:#fff; font-size:15px; }
#order .btn-darkgray { display:inline-block; height:23px; line-height:25px; padding:0 10px; border:1px solid #222; background:#555; color:#fff; font-size:11px; font-weight:bold; border-radius:3px; }
#order .btn-white { background:#7c7c7c; display:inline-block; height:44px; line-height:44px; padding:0 30px; color:#fff; font-size:15px; }
#order .btn-pay { display:block; background:#ff7600; padding:25px 0; color:#fff; text-align:center; font-size:20px; font-weight:600; }

#order .tbl-order { position:relative; margin-top:20px; border-top:1px solid #000; margin-bottom:96px; }
#order .tbl-order { _position/**/:static; }
#order .tbl-order thead th { padding:24px 0; border-bottom:1px solid #9d9d9d; color:#000; font-size:15px; }
#order .tbl-order tbody th { padding-left:42px; border-bottom:1px solid #e2e2e2; color:#666; font-size:15px; font-weight:normal; }
#order .tbl-order tbody td { padding:20px 0; border-bottom:1px solid #e2e2e2; color:#000; font-size:14px; }
#order .tbl-order .prd-info { padding-left:30px; }
#order .tbl-order .prd-info .thumb { display:inline-block; margin-right:30px; width:120px; vertical-align:top; }
#order .tbl-order .prd-info .info { display:inline-block; width:50%; }
#order .tbl-order .prd-info .info a { display:inline-block; color:#000; font-size:14px; line-height:1.3; padding-top:10px; }
#order .tbl-order .prd-info .info .option { font-size:12px; color:#9d9d9d; line-height:1.3; margin-top:24px; }
#order .tbl-order .txt-l, 
#order .tbl-order .txt-c { padding:0 15px; }
#order .tbl-order tbody th span { font-size:12px; font-weight:normal; }
#order .tbl-order tfoot th, 
#order .tbl-order tfoot td { padding:25px 0; background:#ececec; border-top:2px solid #ccc; border-bottom:1px solid #ccc; }
#order .tbl-order tfoot td .price { color:#000; font-size:16px; letter-spacing:-1px; }
#order .tbl-order tfoot td .price em { color:#f00; font-family:tahoma; font-size:26px; font-weight:normal; letter-spacing:-1px; }
#order .tbl-order .remain { color:#6a6a6a; font-size:15px; padding-top:18px; }
#order .tbl-order #okreserve { background:none; padding:0; color:#ff7600; font-weight:bold; font-size:15px; height:auto; line-height:1; width:50px; }

.hope-delivery-info .con { position:relative; color:#6a6a6a; font-size:15px; line-height:1.6; padding-left:22px; margin-top:34px; }
.hope-delivery-info .con::before { content:''; position:absolute; left:0; top:8px; width:8px; height:8px; border-radius:100%; background:#ff7900; }
.hope-delivery-info .tit { display:block; color:#ff7600; }

#order .tbl-order textarea { width:500px !important; height:200px; padding:23px; background:#f2f2f2; }
#order .tbl-order .date { margin:10px 0 5px; }
#order .tbl-order .terms { zoom:1; color:#888; }
#order .tbl-order .terms:after { content:''; display:block; clear:both; }
#order .tbl-order .terms li { float:left; position:relative; width:230px; padding:10px 20px; }
#order .tbl-order .terms li > a { position:absolute; top:8px; right:20px; display:inline-block; height:18px; line-height:20px; padding:0 5px; border:1px solid #bdbdbd; border-bottom-color:#828282; background:#f4f4f4; color:#4d4d4d; border-radius:1px; }
#order .tbl-order .terms li.first { width:200px; }
#order .tbl-order .terms li.last { width:90%; margin-top:10px; padding-top:20px; border-top:1px dashed #ebebeb; }

.pay-list { padding:30px 54px; border:1px solid #000; margin-top:20px; }
.pay-list .pay-method li { display:inline-block; font-size:18px; color:#000; padding-right:2%; }

#order .lst-order { padding:30px 15px; margin-bottom:96px; font-size:14px; line-height:1.4; }

#order .total-order { width:332px; margin-left:34px; margin-top:43px; }
#order .total-order .tit { background:#fbfbfb; font-size:20px; font-weight:bold; padding:22px 0; text-align:center; border-top:1px solid #000; border-bottom:1px solid #cdcdcd; }
#order .total-order .total-price { background:#fbfbfb; padding:26px 36px 0; }
#order .total-order .total-price p { display:-webkit-flex; display:flex; justify-content:space-between; align-items:center; color:#000; font-size:16px; padding:9px 0; }
#order .total-order .total-price p.total { padding:30px 0; margin-top:25px; border-top:1px solid #ededed; font-size:18px; }
#order .total-order .total-price .block-op-sum-price { font-size:20px; font-weight:600; color:#ff7600; }
#order .total-order .agree-chk-wrap { background:#fff; padding:26px 36px 36px; border:1px solid #cdcdcd; }
#order .total-order .agree-chk-wrap label { font-size:15px; color:#000;  margin:12px 0; }

#order .bill { position:relative; border-top:1px solid #e2e2e2; margin-top:0; margin-bottom:0; }
#order .bill th { background:#f2f2f2; }
#order .bill td { padding-left:52px !important; }
#order .bill #cashbill_data { margin-top:18px; }


#order .chk-cont-layer { display:none; position:absolute; top:0; left:50%; width:430px; padding:0; margin:0 0 0 -215px; background:#fff; border:1px solid #b8b8b8; z-index:999; }
#order .chk-cont-layer .l-close { position:absolute; top:10px; right:10px; }
#order .chk-cont-layer .l-tit { height:40px; line-height:42px; padding-left:15px; background:#a4a4a4; font-size:14px; color:#fff; font-weight:bold; }
#order .chk-cont-layer .l-cont { overflow-x:hidden; overflow-y:auto; padding:15px; }
#order .chk-cont-layer .l-cont .fc-blue { padding-bottom:5px; color:#0082f0; }
#order .chk-cont-layer .l-cont textarea { width:99%; height:400px; border:0; font-size:11px; color:#777; }
#order .chk-cont-layer .l-cont .l-tbl { width:100%; border-spacing:0; border-collapse:collapse; }
#order .chk-cont-layer .l-cont .l-tbl th,
#order .chk-cont-layer .l-cont .l-tbl td { border:1px solid #cbcbcb; text-align:center; font-size:11px; }
#order .chk-cont-layer .l-cont .l-tbl th { color:#000; font-weight:bold; background:#ededed; }
#order .chk-cont-layer .l-cont .l-tbl td { color:#777; }
#order .chk-cont-layer .l-cont .l-tbl th div,
#order .chk-cont-layer .l-cont .l-tbl td div { padding:10px 0 8px; }
#order .escrow-info { margin-top:10px; border-top:3px solid #ccc; border-bottom:3px solid #ccc; background:#eef1f7; color:#666; }
#order .escrow-info td { padding:20px 0; }

#order .cnt-box { margin-top:10px;}
#order .cnt-box-desc { margin-top:5px;} 

#chkwrap { position:relative; }
#chkwrap label { font-weight:bold; }
#chkwrap .input-chk { width:12px; height:12px; padding:0; margin:0; margin-top:-3px; }
#chkwrap .all-chk { height:30px; line-height:32px; }
#chkwrap .cont { }
#chkwrap .cont ul:after { clear:both; content:""; display:block; }
#chkwrap .cont ul li { float:left; width:50%; height:30px; line-height:32px; }
#chkwrap .cont ul li a { display:inline-block; height:16px; padding:0 5px; line-height:18px; font-weight:normal; font-size:11px; border:1px solid #bdbec7; background:#fafafa; }
#chkwrap .cont .chk-cont-layer { display:none; overflow:hidden; position:absolute; bottom:1px; left:0; width:430px; padding:0; margin:0; background:#fff; border:1px solid #b8b8b8; }
#chkwrap .chk-cont-layer .l-close { position:absolute; top:10px; right:10px; }
#chkwrap .chk-cont-layer .l-tit { height:40px; line-height:42px; padding-left:15px; background:#a4a4a4; font-size:14px; color:#fff; font-weight:bold; }
#chkwrap .chk-cont-layer .l-cont { overflow-x:hidden; overflow-y:auto; padding:15px; }
#chkwrap .chk-cont-layer .l-cont .fc-blue { padding-bottom:5px; color:#0082f0; }
#chkwrap .chk-cont-layer .l-cont textarea { width:99%; height:400px; border:0; font-size:11px; color:#777; }
#chkwrap .chk-cont-layer .l-cont .l-tbl { width:100%; border-spacing:0; border-collapse:collapse; }
#chkwrap .chk-cont-layer .l-cont .l-tbl th,
#chkwrap .chk-cont-layer .l-cont .l-tbl td { border:1px solid #cbcbcb; text-align:center; font-size:11px; }
#chkwrap .chk-cont-layer .l-cont .l-tbl th { color:#000; font-weight:bold; }
#chkwrap .chk-cont-layer .l-cont .l-tbl td { color:#777; }
#chkwrap .chk-cont-layer .l-cont .l-tbl th div,
#chkwrap .chk-cont-layer .l-cont .l-tbl td div { padding:5px 0 3px; }
#chkwrap .chk-cont-layer .l-cont .l-tbl td .tb-left { padding-left:10px; text-align:left; }
#chkwrap .marketing { clear:both; border-top:1px dashed #dadada; }
#chkwrap .marketing .mk-wrap { height:30px; line-height:32px; }


#usereserve,
#useemoney,
#couponnum { _width:168px; }


/* 배송약관동의 */
.delivery_agree { margin:35px 0; }
.delivery_agree ol li { padding-bottom:15px; font-size:15px; line-height:1.3; }

.notice_prod{padding:0 15px;}
.notice_prod h3{font-size:13px!important;padding-bottom:10px;}
.notice_prod p{font-size:12px;    padding:9px 0;}
.notice_prod p span{font-size:11px; color:#888;display:block;    line-height:19px;}